@import "../../styles/vars.scss";

.darkMode {
  box-shadow: rgba($color-secundary, 0.25) 0px 5px 15px;
}

.Information {
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .Information {
    flex-direction: column;
    padding: 10px 16px;
    width: auto;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .Information {
    padding: 10px 16px;
    width: auto;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .Information {
    width: auto;
    height: 80vh;
  }
}
