@import "../../styles/vars.scss";
@import "../../styles/animations.scss";

.Technologies {
  @include fadeIn($time: 2s);
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;

  &-icons {
    display: flex;
    gap: 40px;

    & span svg {
      width: 4rem;
      height: 4rem;
    }
    & .box {
      box-shadow: rgba(yellow, 0.25) 0px 5px 15px;
      border-radius: 4rem;
      display: grid;
      place-items: center;
      padding: 1rem;
      background-color: $color-primary;
      margin-bottom: 20px;
    }
    & .react svg {
      color: #61dafb;
    }
    & .sass svg {
      color: #bf4080;
    }
    & .webpack svg {
      color: #5299c8;
    }
    & .js svg {
      color: #efd81d;
    }
    & .router svg {
      color: #bc3640;
    }
    & .html svg {
      color: #e96228;
    }
    & .css svg {
      color: #2862e9;
    }
  }
}

@media only screen and (max-width: 767px) {
  .Technologies {
    width: 100%;

    &-icons span svg {
      width: 2rem;
      height: 2rem;
    }
    & .box {
      box-shadow: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .Technologies {
    &-icons {
    }
  }
}

@media (min-width: 1024px) {
  .Technologies {
    &-icons {
    }
  }
}
