@import "../../styles/vars.scss";
@import "../../styles/animations.scss";

.ContactDescription {
  display: flex;
  justify-content: start;
  text-align: center;
  width: 40%;
  & h1 {
    width: 100%;
    text-align: center;
    @include fadeIn;
  }
}

@media (max-width: 767px) {
  .ContactDescription {
    align-items: flex-end;
    & h1 {
      font-size: 2rem;
      margin-bottom: 40px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .ContactDescription {
    align-items: center;
    & h1 {
      font-size: 3rem;
    }
  }
}

@media (min-width: 1024px) {
  .ContactDescription {
    align-items: center;
    & h1 {
      font-size: 3rem;
    }
  }
}
