@import "../../styles/vars.scss";
@import "../../styles/animations.scss";

.Header {
  opacity: 1;
  min-width: 25rem;
  grid-template-rows: auto 1fr auto;
  flex-direction: column;

  &-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    &__img {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      margin: 1.5rem auto;
    }
    &__title {
      text-align: center;
      & h1 {
        font-size: $font-large;
      }
      & h2 {
        font-size: $font-middle;
        font-weight: 100;
      }
    }
  }
  &-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    & ul {
      & li {
        text-decoration: none;
        color: #fff;
        background: #000000bb;
        width: 100%;
        font-size: $font-middle;
        font-weight: 100;
        cursor: pointer;
        padding: 1rem;
      }
      & li:hover {
        border: 0.1rem solid $color-secundary;
        border-radius: 1rem;
        transform: scale(1.1);
        background-color: $color-primary;
        opacity: 0.6;
        color: $color-secundary;
      }
    }
    &__button {
      display: none;
      & span {
        font-size: 2rem;
        margin: 1rem 2rem;
      }
    }
  }
  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      width: 7rem;
      height: 7rem;
      border-radius: 5rem;
      box-shadow: rgba($color-secundary, 0.35) 0px 5px 15px;
      margin-bottom: 2rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .Header {
    display: none;
    align-self: center;
    align-items: center;
    @include fadeIn;
    &-photo {
      &__img {
        width: 11rem;
        height: 11rem;
      }
    }
    &-list ul li {
      font-size: 1.5rem;
      margin: 0.5rem 0;
    }
    &-list__button {
      display: flex;
    }
  }
  .active {
    justify-content: space-evenly;
    display: flex;
    position: absolute;
    right: 0%;
  }
}
@media screen and (max-width: 767px) {
  .Header {
    display: none;
    align-self: center;
    align-items: center;
    @include fadeIn;
    &-photo {
      &__img {
        width: 11rem;
        height: 11rem;
      }
    }
    &-list ul li {
      font-size: 1.5rem;
      margin: 0.5rem 0;
    }
    &-list__button {
      display: flex;
    }
  }
  .active {
    justify-content: space-evenly;
    display: flex;
    position: absolute;
    right: 5%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .Header {
    display: none;
    align-self: center;
    align-items: center;
    background: transparent;
  }
  .active {
    justify-content: space-evenly;
    display: flex;
    position: absolute;
    right: 35%;
    background: transparent;
  }
  .active {
    justify-content: space-evenly;
    display: flex;
    position: absolute;
    right: 35%;
  }
}

@media (min-width: 1024px) {
}
