@import "../../styles/vars.scss";
@import "../../styles/animations.scss";

.AboutMeDescription {
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-middle;
  font-weight: 500;
  width: 50%;
  height: 81.8vh;
  padding: 2rem;

  overflow-y: scroll;
  @include fadeIn;
  &::-webkit-scrollbar {
    display: none;
  }
  & p {
    margin-bottom: 3rem;
  }
}

@media (max-width: 950px) {
  .AboutMeDescription {
    font-size: $font-small;
    width: 100%;
    height: auto;
  }
}
