@import "../../styles/vars.scss";
@import "../../styles/animations.scss";

.Nav {
  border-radius: 1.5rem;
  margin: 10px 10px;
  height: 6rem;
  display: flex;
  box-shadow: rgba($color-secundary, 0.25) 0px 5px 15px;

  &-left {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 4rem;
    & h1 {
      font-weight: 800;
      color: yellow;
      @include fadeIn;
    }
  }
  &-right {
    padding: 0.5rem;
    display: flex;
    justify-content: end;
    align-items: center;

    & span {
      @include fadeIn;
      margin: 2rem;
      font-size: 2rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .Nav {
    height: 3.4rem;
    justify-content: center;
  }
  .Nav-left h1 {
    font-size: 2rem;
  }
  .Nav-right span:nth-child(1) {
    display: none;
  }
  .Nav-right span.menu-icon {
    display: block; // Mostrar el ícono del menú en pantallas pequeñas
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .Nav-right span.menu-icon {
    display: block;
  }
  .Nav-left h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .Nav-left {
    justify-content: center;
  }
  .Nav-right span.menu-icon {
    display: none;
  }
  .Nav-left h1 {
    font-size: 3rem;
  }
}
